# dependencies
node_modules

# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# eslint
.eslintcache

# misc
.DS_Store

# IDE
.vscode
.idea

# cli
dist
package.json
backend/venv/bin/activate
backend/venv/bin/activate
packages/nextjs/contracts/deployedContracts.ts
backend/.env
packages/nextjs/contracts/deployedContracts.ts
packages/nextjs/contracts/deployedContracts.ts
packages/nextjs/contracts/deployedContracts.ts
