@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.navbar {
  margin-bottom: 30px;
}

.imgRounder {
  border-radius: 10px;
}

.logo-sm {
  height: 300px;
  width: 300px;
}

/*.section {
  position: relative;
  width: 100%;
  height: 70vh;
  width: 70%;
  margin: 20px;
  justify-content: center;
  align-items: center;
}/*

/*.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -0%);
}*/